@font-face {
    font-family: "medium";
    src: url(../fonts/GTWalsheimPro-Medium.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/GTWalsheimPro-Bold.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../fonts/GTWalsheimPro-Regular.ttf);
}

:root{
    --FontMedium : "medium" ;
    --FontBold : "bold" ;
    --FontRegular : "regular" ;
}

body {
    margin: 0;
    font-size: 1.11rem;
    background-color: #FAF8FF;
}


.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 3.4vh 5.55vw;
    background-color: #ffffff;
    flex-direction: row;
    height: 8.6vh;
    width: 100vw;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.navigation a{
    text-decoration: none;
    font-family: var(--FontMedium);
}

.navigation div{
    display: flex;
    align-items: center;
    gap: 0.55vw;
}

.logo{
    height: 2.1vh;
    width: 10vw;
    display: block;
}

.navigation button{
    display: flex;
    align-items: center;
    gap: 0.55vw;
    background: transparent;
    border: 0.07vw solid #543C52;
    padding: 0.42vh 0.60vw;
    border-radius: 2vh;
    border-width: 0.3vh;
    height: 3.9vh;
    width: 5vw;
    font-size: 0.97rem;
    color: #543C52;
    font-family: var(--FontMedium);
}
